<form class="uk-form uk-form-horizontal" novalidate name="signup_form" ng-submit="save()">
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-name">Ваше ФИО</label>

        <div class="uk-form-controls">
            <input ng-model="info.name" type="text" class="uk-width-1-1" id="form-name"
                   placeholder="Фамилия Имя Отчество" required>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="form-email">E-mail адрес</label>

        <div class="uk-form-controls">
            <input ng-model="info.email" type="email" class="uk-width-1-1" id="form-email"
                   placeholder="mymail@mailhost.org" required>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="form-password">Пароль</label>

        <div class="uk-form-controls">
            <input ng-model="info.password" type="password" class="uk-width-1-1" id="form-password" placeholder="п@р0Ль"
                   required>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="form-password-repeat">Повторить пароль</label>

        <div class="uk-form-controls">
            <input ng-model="repeat_password" type="password" class="uk-width-1-1" id="form-password-repeat"
                   placeholder="п@р0Ль" required>

            <p class="uk-text-danger"
               ng-show="signup_form.$submitted && signup_form.$valid && repeat_password != info.password">
                Пароли не совпадают
            </p>
        </div>
    </div>

    <hr>

    <div class="uk-form-row">
        <label class="uk-form-label"></label>

        <div class="uk-form-controls">
            <button class="site-button" ng-disabled="signup_form.$invalid && signup_form.$submitted" type="submit">
                Зарегистрироваться
            </button>
        </div>
    </div>
</form>