<form class="uk-form uk-form-horizontal" novalidate name="signin_form">
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-email">E-mail адрес</label>
        <div class="uk-form-controls">
            <input ng-model="info.email" type="email" class="uk-width-1-1" id="form-email" placeholder="mymail@mailhost.org" required>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="form-password">Пароль</label>
        <div class="uk-form-controls">
            <input ng-model="info.password" type="password" class="uk-width-1-1" id="form-password" placeholder="п@р0Ль" required>
        </div>
    </div>

    <hr>

    <div class="uk-form-row uk-hidden">
        <label class="uk-form-label"></label>
        <div class="uk-form-controls">
            <button class="site-button" ng-disabled="signin_form.$invalid && signin_form.$submitted" type="submit">Войти</button>
        </div>
    </div>
</form>