<form class="uk-form uk-form-horizontal" novalidate name="signin_form" ng-submit="signin_form.$valid && signin()">
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-email-signin">E-mail адрес</label>
        <div class="uk-form-controls">
            <input ng-model="info.email" type="email" class="uk-width-1-1" id="form-email-signin" placeholder="mymail@mailhost.org" required>
        </div>
    </div>

    <div class="uk-form-row">
        <label class="uk-form-label" for="form-password-signin">Пароль</label>
        <div class="uk-form-controls">
            <input ng-model="info.password" type="password" class="uk-width-1-1" id="form-password-signin" placeholder="п@р0Ль" required>
        </div>
    </div>

    <div class="uk-form-row">
        <div class="uk-form-controls">
            <a href="#{{ get_anonymous_url_by_name('forget').url }}">Вспомнить пароль</a>
        </div>
    </div>

    <hr>

    <div class="uk-form-row">
        <label class="uk-form-label"></label>
        <div class="uk-form-controls">
            <button class="site-button" ng-disabled="signin_form.$invalid && signin_form.$submitted" type="submit">Войти</button>
        </div>
    </div>
</form>