{% extends 'admin/change_list.html' %}
{% load staticfiles %}

{% block content %}
    <div ng-app="CatalogParser" class="uk-form">
        <div class="uk-form-row uk-form-horizontal">
            <label class="uk-form-label" for="">yandex market url</label>
            <div class="uk-form-controls">
                <form>
                    <input type="url">
                    <button type="submit" class="uk-button uk-width-1-6">
                        <i class="uk-icon-download"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {{ media.css }}

    <link rel="stylesheet" href="{% static 'vendor/uikit/css/uikit.almost-flat.min.css' %}"/>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
{% endblock %}

{% block content_title %}{% endblock %}
{% block object-tools %}{% endblock %}