{% extends 'layouts/base.html' %}

{% block content-base %}
    {% block breadcrumbs %}
        <ul class="breadcrumbs uk-list uk-float-right">
            {% for crumb in seo.breadcrumbs %}
                <li>
                    {% if not forloop.last %}
                        <a href="{{ crumb.path }}">{{ crumb.title }}</a> <i class="uk-icon-chevron-right"></i>
                    {% else %}
                        <span>{{ crumb.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endblock %}

    <h1>{{ current.title }}</h1>

    {% block content %}{% endblock %}
{% endblock %}