@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400&subset=cyrillic,cyrillic-ext,latin);
body {
  background-color: #f2f2f2;
}
body * {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}
body a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #666666;
}
body a:hover {
  text-decoration: none;
  color: #ed3031;
}
body .topest-menu {
  background-color: #f15f60;
}
body .topest-menu ul {
  height: 32px;
  margin: 0;
}
body .topest-menu ul li {
  height: 100%;
  display: inline-block;
}
body .topest-menu ul li a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
  display: inline-block;
  padding: 5px 15px 0;
  box-sizing: border-box;
  background-color: #f15f60;
  font-weight: 600;
}
body .topest-menu ul li a:hover,
body .topest-menu ul li a.active {
  background-color: #ed3031;
  color: #ffffff;
}
body .topest-menu * {
  color: #ffffff;
}
body .topest-menu .right-menu a {
  font-weight: 400;
}
body .site-header {
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  margin-bottom: 50px;
}
body .site-header .contact-info {
  position: relative;
  top: -10px;
}
body .site-header .contact-info .contact-block {
  display: inline-block;
  float: right;
}
body .site-header .contact-info .contact-block .label {
  font-size: 64.8px;
  color: #f15f60;
  display: inline-block;
  margin-left: 30px;
}
body .site-header .contact-info .contact-block .contact-data {
  border-left: 1px solid #cccccc;
  padding-left: 15px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bolder;
}
body .site-header .contact-info .contact-block li {
  line-height: 29px;
}
body .site-logo .site-logo-type {
  background-color: #f15f60;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 72px;
  line-height: 79.2px;
  font-weight: bold;
  width: 86.4px;
  height: 86.4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
body .site-logo .site-logo-name {
  font-size: 50.4px;
  position: relative;
  bottom: 7.2px;
  margin-left: 12px;
}
body .catalog-menu {
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-transition: opacity 0.4 ease;
  -moz-transition: opacity 0.4 ease;
  -ms-transition: opacity 0.4 ease;
  -o-transition: opacity 0.4 ease;
  transition: opacity 0.4 ease;
}
body .catalog-menu.on-top {
  opacity: 0.7;
}
body .catalog-menu.on-top:hover {
  opacity: 1;
}
body .catalog-menu ul {
  height: 50px;
  margin: 0;
  overflow: hidden;
}
body .catalog-menu ul li {
  display: inline-block;
  height: 100%;
}
body .catalog-menu ul li a {
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px 0 0;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
body .catalog-menu ul li.active a {
  color: #ed3031;
}
body .catalog-menu .cart-info {
  border: 1px solid #cccccc;
  padding: 4px 10px;
  box-sizing: border-box;
}
body .catalog-menu .cart-info .goods-count {
  color: #f15f60;
}
body .catalog-menu .uk-form,
body .catalog-menu .cart-info {
  margin: 10px 0 10px 7px;
  overflow: hidden;
}
body .catalog-menu .uk-form input {
  width: 160px;
}
body .site-footer {
  margin-top: 40px;
  background-color: #2f2f2f;
  padding: 40px 0;
}
body .site-footer .sub-info p {
  color: #cccccc;
}
body .site-footer .sub-info .site-logo {
  margin-bottom: 20px;
}
body .site-footer .sub-info .site-logo .site-logo-name {
  color: #ffffff;
  font-size: 32px;
}
body .site-footer .sub-info .big-title {
  margin: 0;
  color: #ffffff;
  border-color: #f15f60;
}
body .site-footer .item {
  margin: 20px 0;
}
body .site-footer .item .last-prod-item .title {
  font-weight: bold;
  color: #fdecec;
}
body .site-footer .item .last-prod-item .price {
  color: #f15f60;
}
body .sub-footer {
  background-color: #262626;
  padding: 15px 0;
}
.uk-form input,
.uk-form input[type=search] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uk-form input:focus,
.uk-form input[type=search]:focus {
  background-color: #fdecec;
  border-color: #fdecec;
}
.site-button {
  background-color: #f15f60;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.site-button,
.site-button * {
  color: #ffffff;
  text-transform: uppercase;
}
.site-button:hover {
  background-color: #ed3031;
}
.site-button,
.site-button:active,
.site-button:focus {
  border: none;
  outline: none;
}
.site-button:active {
  background-color: #f58e8f;
}
.big-title {
  font-size: 32px;
  border-bottom: 6px solid #f15f60;
  padding: 20px 0;
  margin: 20px 0;
}
.base-pink {
  color: #f15f60;
}
.breadcrumbs {
  margin-top: 10px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a {
  color: #f15f60;
}
.breadcrumbs li i {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px;
}
h1 {
  border-bottom: 6px solid #f15f60;
  padding: 10px 0;
}
.pagination-count .all-count-num {
  margin-top: 4px;
  background-color: #f15f60;
  padding: 8px 12px;
  display: inline-block;
}
.pagination-count .all-count-num,
.pagination-count .all-count-num i {
  color: #ffffff;
}
.pagination a,
.pagination span {
  display: inline-block;
}
.pagination a {
  background-color: #f15f60;
  padding: 8px 12px;
  display: inline-block;
}
.pagination a,
.pagination a i {
  color: #ffffff;
}
.pagination span.active {
  padding: 12px;
}
.pagination .prev span,
.pagination .next span {
  display: none;
}
.pagination .all,
.pagination .str {
  padding: 12px;
}
