{% load product common %}

<section class="product-list">
    <ul class="uk-grid products {{ grid }}">
        {% for product in products %}
            <li class="uk-margin-bottom" ng-controller="Product" ng-init="id = {{ product.id }}"
                ng-hide="is_hidden({{ product.id }}{{ product.get_category_comma_ids }})">
                <div class="product">
                    <div class="info">
                        <a href="{{ product.get_full_path }}">
                            {% product_image product '320x320' %}
                        </a>

                        <span class="title">{{ product.title }} {% admin_edit product %}</span>
                    </div>

                    <div class="order-info">
                        <div class="price">{{ product.get_price | price }}</div>
                        {% if product.get_old_price %}
                            <div class="old-price">{{ product.get_old_price | price }}</div>
                        {% endif %}

                        <div class="add-block">
                            <button class="site-button" ng-click="add_cart()" ng-disabled="in_cart">
                                <i class="uk-icon-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
