{% load product %}

<section class="product-list">
    <ul class="uk-grid products {{ grid }}">
        {% for product in products %}
            <li class="uk-margin-bottom">
                <div class="product">
                    <div class="info">
                        <a href="{{ product.get_full_path }}">
                            {% product_image product '320x320' %}
                        </a>

                        <span class="title">{{ product.title }}</span>
                    </div>

                    <div class="order-info">
                        <div class="price">{{ product.get_price | price }}</div>
                        {% if product.get_old_price %}
                            <div class="old-price">{{ product.get_old_price | price }}</div>
                        {% endif %}

                        <div class="add-block">
                            <button class="site-button">
                                <i class="uk-icon-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
