{% extends 'layouts/content.html' %}
{% load common_attachments %}

{% block content %}
    <section class="articles uk-grid uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3">
        {% for article in articles %}
            <article class="uk-margin-bottom">
                <div class="article">
                    <a href="{{ article.get_full_path }}" class="margin title">{{ article.title }}</a>
                    <a href="{{ article.get_full_path }}">{% get_aimage article.file '400x0' %}</a>
                    <p class="uk-article-meta margin">
                        {{ article.created }}
                    </p>

                    <div class="margin">{{ article.short | safe }}</div>
                </div>
            </article>
        {% endfor %}
    </section>
    {% include 'includes/pagination.html' with pagination=articles %}
{% endblock %}