{% extends 'layouts/two-col-content.html' %}

{% block sidebar %}
    <ul class="catalog-sidebar-menu uk-list">
        <li class="root-item"><a href="/catalog">Категория товара</a></li>
        <li class="root-item"><a href="/catalog">Категория товара</a></li>
        <li class="active root-item">
            <a href="/catalog">Категория товара</a>

            <ul class="sub-menu">
                <li><a href="">Подкатегория</a></li>
                <li><a href="">Подкатегория</a></li>
                <li class="active"><a href="">Подкатегория</a></li>
                <li><a href="">Подкатегория</a></li>
            </ul>
        </li>
        <li class="root-item"><a href="/catalog">Категория товара</a></li>
        <li class="root-item"><a href="/catalog">Категория товара</a></li>
        <li class="root-item"><a href="/catalog">Категория товара</a></li>
    </ul>
{% endblock %}
