{% extends 'catalog-base.html' %}
{% load common_attachments product %}

{% block content-bar %}
    <div class="catalog-list">
        {% for catalog in catalog_list %}
            <div class="catalog">
                <a class="uk-width-1-2 label uk-float-left" href="{{ catalog.get_full_path }}">
                    <span class="title uk-vertical-align">
                        <span class="uk-vertical-align-middle text">{{ catalog.title }}</span>
                    </span>

                    {% get_aimage catalog.file '480x480' class="uk-width-1-1" %}
                </a>

                <div class="uk-width-1-2 uk-float-right">
                    {% for sub in catalog.get_catalog_tiles %}
                        <a href="{{ sub.get_full_path }}" class="product uk-width-1-2 uk-float-left">
                            <span class="title">{{ sub.title }}</span>
                            {% if sub.get_price %}
                                <span class="price">
                                    {{ sub.get_price | price }}
                                </span>
                            {% endif %}

                            {% get_aimage sub.file '240x240' %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}