{% extends 'catalog-base.html' %}

{% block content-bar %}
    <div class="catalog-list">
        {% for sub in catalog_children %}
            <div class="catalog">
                <a class="uk-width-1-2 label uk-float-left" href="/catalog/products">
                    <span class="title uk-vertical-align">
                        <span class="uk-vertical-align-middle text">Наименование раздела</span>
                    </span>
                    <img class="uk-width-1-1" src="http://lorempixel.com/480/480/sports/{{ sub }}" alt=""/>
                </a>

                <div class="uk-width-1-2 uk-float-right">
                    {% for prod in catalog_children %}
                        <a class="product uk-width-1-2 uk-float-left">
                            <span class="title">Супер-пупер раступер товар</span>
                            <span class="price">
                                1 900 <i class="uk-icon-rub"></i>
                            </span>
                            <img src="http://lorempixel.com/240/240/fashion/{{ prod }}" alt=""/>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}