{% extends 'layouts/two-col-content.html' %}
{% load common cache %}

{% block sidebar %}
    {% cache settings.CACHE_TIME catalog_menu request.path %}
    <ul class="catalog-sidebar-menu uk-list">
        {% for catalog in catalog_menu %}
            <li class="root-item {{ 'active' | active_path_class:catalog.get_full_path }}">
                <a href="{{ catalog.get_full_path }}">{{ catalog.title }}</a>

                {% if catalog.is_active_path %}
                    {% include 'includes/catalog_menu.html' with catalog=catalog %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endcache %}
{% endblock %}
