{% extends 'layouts/base.html' %}
{% load staticfiles product %}

{% block top-content %}
    <section class="main-slider">
        <div class="uk-container uk-container-center">
            <div class="uk-slidenav-position" data-uk-slider>
                <div class="uk-slider-container">
                    <ul class="uk-slider uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4">
                        {% for prod in banner_products %}
                            <li>
                                <div class="item">
                                    <a href="{{ prod.get_full_path }}">
                                        {% product_image prod '320x480' %}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
                   data-uk-slider-item="previous"></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
            </div>
        </div>
    </section>
{% endblock %}

{% block content-base %}
    <div ng-controller="MainProducts">
        <div class="stock-filter uk-margin-bottom">
            <ul class="uk-grid uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3">
                {% for other in other_stock %}
                    <li {% if forloop.first %}ng-init="category = {{ other.id }}"{% endif %}
                        ng-click="category = {{ other.id }}" ng-class="is_active({{ other.id }})">
                        <i class="uk-icon-button uk-icon-check"></i>
                        {{ other.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% include 'includes/product_list.html' with products=other_products grid="uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" %}
    </div>
    <section class="useful-info">
        <div class="big-title">
            Полезная информация
        </div>

        <ul class="uk-grid uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3">
            {% for i in useful_info %}
                <li>
                    <div class="info-item">
                        <article class="uk-grid useful-content">
                            <div class="uk-width-1-3">
                                <a href=""><img src="http://lorempixel.com/120/120/sports/{{ i }}" alt=""/></a>
                            </div>

                            <div class="uk-width-2-3">
                                <a class="title">Lorem ipsum dolor sit amet</a>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem fugit ipsum
                                    magnam obcaecati optio perferendis perspiciatis quam quisquam sunt totam.
                                    Consectetur corporis deserunt fugit id ipsum itaque necessitatibus odio
                                    reprehenderit?
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/uikit/js/components/slider.min.js' %}"></script>
{% endblock %}
