{% extends 'layouts/content.html' %}
{% load staticfiles %}

{% block content %}
    <h3>Где получить заказ</h3>

    <ul class="uk-grid uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-margin-bottom">
        {% for article in current.get_articles %}
            <li class="uk-margin-bottom">
                <h4>{{ article.title }}</h4>
                {{ article.short | safe }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block pre_footer %}
    <div id="map" style="height: 500px"></div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(function () {
            var map = new ymaps.Map("map", {
                center: [58, 28.6],
                zoom: 8,
                controls: ['smallMapDefaultSet']
            })

            map.behaviors.disable('scrollZoom');

            {% for article in current.get_articles %}
                map.geoObjects.add(new ymaps.Placemark({{ article.other_info | safe }}, {
                    balloonContentHeader: "{{ article.title }}",
                    balloonContentBody: "",
                    hintContent: "{{ article.title }}"
                }))
            {% endfor %}
        })
    </script>
{% endblock %}
