{% extends 'catalog-base.html' %}
{% load common_attachments product staticfiles %}

{% block content-bar %}
    <div class="product-full" ng-controller="Product" ng-init="id = {{ current.id }}">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-1 uk-width-large-1-2 uk-margin-bottom">
                <div class="product-image">
                    <a href="{{ current.file.url }}" data-uk-lightbox title="{{ current.title }}">{% get_aimage current.file '400x0' %}</a>
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-1 uk-width-large-1-2 uk-margin-bottom">
                <div class="description uk-margin-bottom">
                    {{ current.description | safe }}
                </div>

                <div class="order-info">
                    <ul class="uk-grid uk-grid-width-medium-1-2">
                        <li class="price uk-margin-bottom">
                            {{ current.get_price | price }}
                            {% if current.get_old_price %}
                                <div class="old-price">
                                    {{ current.get_old_price | price }}
                                </div>
                            {% endif %}
                        </li>
                        <li>
                            <button class="site-button uk-width-1-1" ng-click="add_cart()" ng-disabled="in_cart">
                                <span>В корзину</span>
                                <i class="uk-icon-cart-plus"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/uikit/js/components/lightbox.min.js' %}"></script>
{% endblock %}

