{% extends 'admin/change_list.html' %}
{% load staticfiles common %}

{% block content %}
    <div ng-app="ParsersApp" class="uk-form" ng-controller="YamController">
        <div class="uk-grid uk-grid-width-1-2">
            <div ng-controller="ParsedCatalogs">
                <select ng-model="url" ng-change="load(url)">
                    <option value="">Выберите сайт</option>
                    {% for url in cl.result_list %}
                        <option value="{{ url.url }}">{{ url.title }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="uk-button uk-button-primary uk-width-1-6">
                    <i class="uk-icon-chevron-right"></i>
                </button>

                <hr>

                {% verbatim %}
                    <div class="uk-panel uk-panel-box">
                        <a ng-href="{{ site_url }}" class="uk-panel-title" ng-bind="site_name"></a>
                        <catalog-tree></catalog-tree>
                    </div>
                {% endverbatim %}
            </div>

            <div ng-controller="LocalCatalogs">
                <button type="button" class="uk-button uk-button-success uk-width-1-6">
                    <i class="uk-icon-plus"></i>
                </button>
                <button type="button" class="uk-button uk-button-danger uk-width-1-2 uk-text-left" ng-show="current_catalog">
                    <i class="uk-icon-remove"></i>
                    <span ng-bind="current_catalog.title"></span>
                </button>

                <hr>

                <div class="uk-panel uk-panel-box">
                    <a class="uk-panel-title" ng-bind="site_name"></a>
                    <catalog-tree></catalog-tree>
                </div>
            </div>
        </div>

        <hr>

        {% verbatim %}
            <div class="uk-grid uk-grid-width-1-2">
                <div>
                    <p class="uk-text-warning" ng-show="all_products.parsed.length">Всего товаров: {{ all_products.parsed.length }}</p>
                    <table class="uk-table uk-table-striped uk-table-condensed">
                        <tr ng-repeat="product in all_products.parsed">
                            <td>
                                <a href="{{ product.url }}" ng-bind="product.id" target="_blank"></a>
                            </td>
                            <td>
                                <a ng-href="{{ product.image }}" ng-bind="product.title" data-uk-lightbox></a>
                            </td>
                            <td ng-bind="product.price"></td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endverbatim %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {{ media.css }}

    <link rel="stylesheet" href="{% static 'vendor/uikit/css/uikit.almost-flat.min.css' %}"/>
{% endblock %}

{% block javascripts %}
    {% include 'includes/ng_config.html' %}

{#    <script src="/static/vendor/uikit/css/"></script>#}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'vendor/uikit/js/components/lightbox.min.js' %}"></script>
    <script src="{% static 'vendor/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'js/_mixin.js' %}"></script>
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'vendor/x2js/xml2json.min.js' %}"></script>
    <script src="{% static 'vendor/angular-xml/angular-xml.min.js' %}"></script>
    <script src="{% static 'parsers/js/ParsersApp.js' %}"></script>
    <script src="{% static 'parsers/js/YamController.js' %}"></script>
{% endblock %}

{% block content_title %}{% endblock %}
{% block object-tools %}{% endblock %}