{% extends 'admin/change_list.html' %}
{% load staticfiles %}

{% block content %}
    <div ng-app="ParsersApp" class="uk-form" ng-controller="YamController">
        <div class="uk-form-row uk-form-horizontal">
            <label class="uk-form-label" for="">yandex market url</label>
            <div class="uk-form-controls">
                <form ng-submit="url_form.$valid && load(url.value)" novalidate name="url_form">
                    <input type="url" ng-model="url.value" required />
                    <button type="submit" class="uk-button uk-width-1-6">
                        <i class="uk-icon-download"></i>
                    </button>
                </form>
            </div>
        </div>

        <hr>

        <div class="uk-grid uk-grid-width-1-2">
            <div>
                <div class="uk-panel uk-panel-box">
                    <p class="uk-panel-title">Каталог сайта</p>
                    <catalog-tree></catalog-tree>
                </div>
            </div>

            <div>
                <div class="uk-panel uk-panel-box">
                    <h3 class="uk-panel-title">Каталог сайта</h3>
                    <catalog-tree></catalog-tree>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {{ media.css }}

    <link rel="stylesheet" href="{% static 'vendor/uikit/css/uikit.almost-flat.min.css' %}"/>
{% endblock %}

{% block javascripts %}
    {% include 'includes/ng_config.html' %}

    <script src="{% static 'vendor/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'js/_mixin.js' %}"></script>
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'vendor/x2js/xml2json.min.js' %}"></script>
    <script src="{% static 'vendor/angular-xml/angular-xml.min.js' %}"></script>
    <script src="{% static 'parsers/js/ParsersApp.js' %}"></script>
    <script src="{% static 'parsers/js/YamController.js' %}"></script>
{% endblock %}

{% block content_title %}{% endblock %}
{% block object-tools %}{% endblock %}